<section id="play" class="page stacked">
        <div class="toolbar">
          <p><button class="btn" onclick="players()">Players: <span id="playersCount"></span></button></p>
          <p id="waiting" class="btn">Waiting for players...</p>
          
          <p id="startGame"><button onclick="startGame()" class="btn">Start</button></p>
          <p id="endGame" style="display: none"><button onclick="endGame()" class="btn">End</button></p>
        </div>  
          
        <ul id="cards">
        </ul>

      </section>